body {
  background-color: #110038;
}

.gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

.pink-button {
  background: #ee3efe;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  border: 1px solid #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.pink-button :hover {
  background: #ce36db;
}

.my-guifos {
  color: #ffffff;
}

.my-guifos:hover {
  border: 1px dotted white;
  cursor: pointer;
}

.flecha {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 7px solid #ffffff;
}

.selector-tema:hover .borde-dotted-1,
.selector-tema:hover .borde-dotted-2,
.selector-tema:hover .borde-dotted-3,
.doble-btn:hover .borde-dotted-1,
.doble-btn:hover .borde-dotted-2,
.doble-btn:hover .borde-dotted-3 {
  width: 99%;
  height: 32px;
  border: 1px dotted #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selector-tema:hover .dotted-pink,
.doble-btn:hover .dotted-pink {
  background: #ce36db;
}

.lista-temas {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.theme-day {
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.theme-night {
  background: #2e32fb;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0;
          box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0;
  color: #ffffff;
}

.subtitulado {
  border: 1px solid #2e32fb;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
}

.busqueda {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.btn-dis {
  background: #b4b4b4;
  color: #8f8f8f;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.resultados-sugeridos {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.resultados-sugeridos button {
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.contenedor-gif {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
}

.contenedor-gif button {
  background: #2e32fb;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
}

.contenedor-gif button :hover {
  background: #2629cc;
}

.result-gif:hover {
  ackground: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
}

.related-results button {
  background: #2e32fb;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
}

.crear-gifos-inicia,
.crear-guifos-grabar {
  background: #b4b4b4;
}

.square-pink {
  background: #ee3efe;
}

.error-window {
  background: #b4b4b4;
}

.copy-popup {
  position: absolute;
  margin-left: 488px;
  z-index: 5;
  margin-top: 121px;
}

.copy-popup h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #2e32fb;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
}

.selector-tema {
  background-color: #ee3efe;
}
/*# sourceMappingURL=theme2.css.map */